{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
    'jazzcash-community-discussion'
] %}


<div {{attributes.addClass(classes)}}>
	<div class="diss-container">
	<div class="title-fields">
		<div class="discussin-title"><img src="https://picsum.photos/100/100"> </div>
		<div class="admin-name">
			<h1>{{ data.title }}</h1>
			<small>{{ data.ownerName }} ♦
			{{ data.date_time_formated }}
			ago</small>
		</div>
	</div>		
	<div class="diss-body">
		{{data.body|raw}}
	</div>
	<hr/>
	<div class="comment-diss-cnt">
		<ul>
			<li>
				<i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
				{{ data.comments_count }}
				Comments</li>
			<li>
				<a href="#" data-nid="{{ data.nid }}" class="discussion-page-likes ">
					<i class="glyphicon glyphicon-heart like-icon {{ (user.id in data.likedList)? 'liked':'' }}" aria-hidden="true"></i>
					<span class="like-count">{{ data.likedList|length }}</span>
					Likes</a>
			</li>
			<li>
				<a class="discussion-page-share">
					<i class="glyphicon glyphicon-share" aria-hidden="true"></i>
					Share</a>
			</li>
	</ul>
	</div>
	</div>


	<div class="comments">
		<div class="comment-form">{{ data.comment_form }}</div>
		<ul class="comment-list">
			{% for comment in data.comments %}
				<li>
					<div class="new-comment-container">
						<div>
							<img src="https://picsum.photos/100/100"> 
							{# <h1>{{ comment.subject }}</h1> #}
						</div>
						<div class="comment-section">
							<div class="owner-comment">
								<h2>{{ comment.ownerName }}
								♦
								{{ comment.created_formated }}
								ago</h2>
							</div>
							<div class="body-new-comment">
								{{ comment.body|raw }}
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
